@charset "UTF-8";
body{
    background-image:linear-gradient(to right,#BDE038,#438F68);
}
    
    main{
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.425);
        width: 600px;
        padding: 10px;
        margin: auto;
    }
    p{
        text-align: justify;
        
    }
    h1{
        color:#298073;
        text-align: center;
        text-shadow:5px 4px 3px #2938074b;
    }
    h2{
        color: #154666;
        font-style: normal;
        
    }
    p{
        color:#03A688 ;
        text-align: justify;
    }
    h3{
        text-align: end;
    }
